:root {
  --g: #00A651;
  --g2: #008f47;
  --g3: rgba(0, 166, 81, .12);
  --bg: #0a0e14;
  --sf: #111827;
  --sf2: #1a2233;
  --sf3: #222d40;
  --bd: rgba(255, 255, 255, .07);
  --bd2: rgba(255, 255, 255, .12);
  --tx: #f0f4f8;
  --tx2: #8b9cb8;
  --tx3: #4a5568;
  --red: #f85149;
  --blue: #388bfd;
  --r: 12px;
  --sh: 0 2px 12px rgba(0, 0, 0, .5);
  --sh2: 0 0 0 1px var(--bd2);
}
